In [112]:
path_to_zip_file="datasets.zip"
directory_to_extract_to=""
import zipfile
zip_ref=zipfile.ZipFile(path_to_zip_file,'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [113]:
import pandas as pd
df=pd.read_excel ("datasets/axisdata.xlsx")
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [114]:
# Question A: average cars sold per month (Answer: 3.922923 cars)

In [115]:
df['Cars Sold'].describe()

count    999.000000
mean       3.922923
std        1.527000
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        7.000000
Name: Cars Sold, dtype: float64

In [116]:
df['Cars Sold'].mean()

3.9229229229229228

In [117]:
# Question B: max cars sold per month (Answer: 7 cars)

In [118]:
df['Cars Sold'].max()

7

In [119]:
# Question C: min cars sold per month (Answers: 1 )

In [120]:
df['Cars Sold'].min()

1

In [121]:
# Question D: average cars sold per month by gender (Answer: Female=3.760736; Male=4.078431)

In [122]:
D=pd.pivot_table(df,index=["Gender"], values=["Cars Sold"])
D

        Cars Sold
Gender
F        3.760736
M        4.078431

In [123]:
# Question E:average hours worked by people selling > 3 cars per month (Answer: 34.740238 hours )

In [124]:
df_highsale=df[df["Cars Sold"]>3]
df_highsale["Cars Sold"].describe()

count    589.000000
mean       5.006791
std        0.882533
min        4.000000
25%        4.000000
50%        5.000000
75%        6.000000
max        7.000000
Name: Cars Sold, dtype: float64

In [125]:
df_highsale["Hours Worked"].describe()

count    589.000000
mean      34.740238
std        8.146538
min       20.000000
25%       28.000000
50%       35.000000
75%       42.000000
max       48.000000
Name: Hours Worked, dtype: float64

In [126]:
# Question F: average years of experience (Answer: 3.026 years )

In [127]:
df['Years Experience'].mean()

3.026026026026026

In [128]:
# Questions G: average years of experience for people selling > 3 cars per month (Answer: 3.0492 years )

In [129]:
df_highsale['Years Experience'].mean()

3.0492359932088284

In [130]:
# Question H: average cars sold per month by whether or not they have had sales training (Answer: Yes=4.168942; No=3.573850)

In [131]:
H=pd.pivot_table(df,index=df['SalesTraining'], values=["Cars Sold"])
H

               Cars Sold
SalesTraining
N               3.573850
Y               4.168942

In [132]:
# Question I: What do you think is the best indicator of whether someone is a good salesperson?
# Answer: If good salesperson means a person who can sell more cars, then Hours Worked would be the best indicator to predict a salesperson is good or bad.

In [133]:
def score_to_numeric(x):
    if x=='Y':
        return 2
    if x=='N':
        return 1

In [134]:
df['SalesTrainingR']=df['SalesTraining'].apply(score_to_numeric)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,SalesTrainingR
0,Jada,Walters,F,39,N,3,2,1
1,Nicole,Henderson,F,46,N,3,6,1
2,Tanya,Moore,F,42,Y,4,6,2
3,Ronelle,Jackson,F,38,Y,5,3,2
4,Brad,Sears,M,33,N,4,2,1

In [135]:
def score_to_numeric_2(x):
    if x=='F':
        return 2
    if x=='M':
        return 1

In [136]:
df['GenderR']=df['Gender'].apply(score_to_numeric_2)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,SalesTrainingR,GenderR
0,Jada,Walters,F,39,N,3,2,1,2
1,Nicole,Henderson,F,46,N,3,6,1,2
2,Tanya,Moore,F,42,Y,4,6,2,2
3,Ronelle,Jackson,F,38,Y,5,3,2,2
4,Brad,Sears,M,33,N,4,2,1,1

In [137]:
df2=df
df2.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,SalesTrainingR,GenderR
0,Jada,Walters,F,39,N,3,2,1,2
1,Nicole,Henderson,F,46,N,3,6,1,2
2,Tanya,Moore,F,42,Y,4,6,2,2
3,Ronelle,Jackson,F,38,Y,5,3,2,2
4,Brad,Sears,M,33,N,4,2,1,1

In [138]:
df2.columns=['Fname','Lname','Gender','HoursWorked','SalesTraining','YearsExperience','CarsSold','SalesTrainingR','GenderR']

In [139]:
import statsmodels.formula.api as sm
result =sm.ols(formula='CarsSold ~ GenderR + HoursWorked + SalesTrainingR + YearsExperience', data=df2).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               CarsSold   R-squared:                       0.110
Model:                            OLS   Adj. R-squared:                  0.107
Method:                 Least Squares   F-statistic:                     30.80
Date:                Fri, 29 Sep 2017   Prob (F-statistic):           3.37e-24
Time:                        21:25:51   Log-Likelihood:                -1781.5
No. Observations:                 999   AIC:                             3573.
Df Residuals:                     994   BIC:                             3598.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           1.7336      0.294      5.888      0.000       1.156       2.311
GenderR            -0.2953      0.091     -3.230      0.001      -0.475      -0.116
HoursWorked         0.0453      0.006      8.156      0.000       0.034       0.056
SalesTrainingR      0.5669      0.093      6.106      0.000       0.385       0.749
YearsExperience     0.0662      0.033      2.020      0.044       0.002       0.131
==============================================================================
Omnibus:                      951.211   Durbin-Watson:                   2.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               63.016
Skew:                          -0.007   Prob(JB):                     2.07e-14
Kurtosis:                       1.770   Cond. No.                         231.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [141]:
import statsmodels.formula.api as sm
result =sm.ols(formula='CarsSold ~ GenderR + HoursWorked + SalesTrainingR + YearsExperience-1', data=df2).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               CarsSold   R-squared:                       0.879
Model:                            OLS   Adj. R-squared:                  0.878
Method:                 Least Squares   F-statistic:                     1806.
Date:                Fri, 29 Sep 2017   Prob (F-statistic):               0.00
Time:                        21:26:09   Log-Likelihood:                -1798.7
No. Observations:                 999   AIC:                             3605.
Df Residuals:                     995   BIC:                             3625.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
GenderR            -0.0372      0.082     -0.456      0.649      -0.197       0.123
HoursWorked         0.0655      0.004     14.704      0.000       0.057       0.074
SalesTrainingR      0.8446      0.081     10.387      0.000       0.685       1.004
YearsExperience     0.1280      0.032      4.055      0.000       0.066       0.190
==============================================================================
Omnibus:                      684.373   Durbin-Watson:                   2.068
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.093
Skew:                           0.016   Prob(JB):                     1.47e-13
Kurtosis:                       1.809   Cond. No.                         69.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [143]:
import statsmodels.formula.api as sm
result =sm.ols(formula='CarsSold ~ HoursWorked + SalesTrainingR + YearsExperience-1', data=df2).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               CarsSold   R-squared:                       0.879
Model:                            OLS   Adj. R-squared:                  0.879
Method:                 Least Squares   F-statistic:                     2410.
Date:                Fri, 29 Sep 2017   Prob (F-statistic):               0.00
Time:                        21:26:58   Log-Likelihood:                -1798.8
No. Observations:                 999   AIC:                             3604.
Df Residuals:                     996   BIC:                             3618.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
HoursWorked         0.0646      0.004     16.011      0.000       0.057       0.073
SalesTrainingR      0.8346      0.078     10.664      0.000       0.681       0.988
YearsExperience     0.1251      0.031      4.048      0.000       0.064       0.186
==============================================================================
Omnibus:                      679.272   Durbin-Watson:                   2.069
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.000
Skew:                           0.017   Prob(JB):                     1.54e-13
Kurtosis:                       1.810   Cond. No.                         59.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [144]:
df2.corr()

,HoursWorked,YearsExperience,CarsSold,SalesTrainingR,GenderR
HoursWorked,1.000000,0.028400,0.251038,0.025857,-0.004107
YearsExperience,0.028400,1.000000,0.062577,-0.017864,0.016194
CarsSold,0.251038,0.062577,1.000000,0.192009,-0.104055
SalesTrainingR,0.025857,-0.017864,0.192009,1.000000,-0.040016
GenderR,-0.004107,0.016194,-0.104055,-0.040016,1.000000